@font-face
  font-family 'underwood'
  src url('../fonts/underwood_champion-webfont.eot')
  src url('../fonts/underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/underwood_champion-webfont.woff') format('woff'),
       url('../fonts/underwood_champion-webfont.ttf') format('truetype'),
       url('../fonts/underwood_champion-webfont.svg#underwood_championregular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Futura PT'
  font-style normal
  font-weight 200
  src url('../fonts/FuturaPTLight.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-weight 300
  src url('../fonts/FuturaPTBook.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-weight 400
  src url('../fonts/FuturaPTMedium.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-weight 500
  src url('../fonts/FuturaPTDemi.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-weight 700
  src url('../fonts/FuturaPTBold.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-weight 900
  src url('../fonts/FuturaPTHeavy.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-stretch condensed
  font-weight 300
  src url('../fonts/FuturaPTCondBook.otf') format('truetype')

@font-face
  font-family 'Futura PT'
  font-style normal
  font-stretch condensed
  font-weight 400
  src url('../fonts/FuturaPTCondMedium.otf') format('truetype')

@font-face
  font-family 'JustAnotherHand'
  font-style normal
  font-weight 900
  src url('../fonts/JustAnotherHand.ttf') format('truetype')

@font-face
  font-family 'OperatorMono'
  font-style normal
  font-weight 300
  src url('../fonts/OperatorMono-Book.otf') format('truetype')

@font-face
  font-family 'OperatorMono'
  font-style italic
  font-weight 300
  src url('../fonts/OperatorMono-BookItalic.otf') format('truetype')

@font-face
  font-family 'OperatorMono'
  font-style normal
  font-weight bold
  src url('../fonts/OperatorMono-Medium.otf') format('truetype')

@font-face
  font-family 'OperatorMono'
  font-style italic
  font-weight bold
  src url('../fonts/OperatorMono-MediumItalic.otf') format('truetype')

@font-face
  font-family 'PT Serif'
  font-style normal
  font-weight 400
  src local('PT Serif'), local('PTSerif-Regular'), url(../fonts/PTSerif.woff) format('woff')
