.tpl-title
  background-color #ffc170
  background-color #ff9
  background-image url(../images/typewriter.png)
  background-position center 50%
  background-repeat no-repeat
  background-size auto 140%
  box-sizing border-box
  color #000
  font-family underwood
  font-size 4rem
  padding-bottom 9rem
  text-align center
  transition-property background-size, background-position
  &.bespoke-active
    background-size auto 370%
    background-position center 26%
    transition-duration 300ms, 300ms
    transition-delay 1.5s, 1.5s
