.tpl-code
  background-color #fff
  
.tpl-code [data-lang="asciidoc"] mark
  background-color transparent
  
.toggle-state #asciidoc-ex-markup.tpl-code *
  color transparent !important

.toggle-state #asciidoc-ex-markup.tpl-code [data-lang="asciidoc"] mark
  color black !important

.toggle-state #asciidoc-ex-content.tpl-code *
  color black !important

.toggle-state #asciidoc-ex-content.tpl-code [data-lang="asciidoc"] mark
  color transparent !important
