.tpl-screen {
  background-image: url(../images/empty-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.tpl-blank {
  background-color: var(--color-a);
}
